@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:wght@100;200;300&family=Teko:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*          estilos , talla de tipografia  e tallas de imaxes          */

h1{
    font-size: 60px;
    font-family: 'Allura', cursive;
    color: #6e9e30b5;
}


h2{
    font-size: 55px;
    font-family: 'Allura', cursive;
    color: #6E9E30;
}


h3{
    font-size: 45px;
    font-family: 'Allura', cursive;
}


p{ 
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.8em;
}


a{ 
    text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}

a:hover{
    color: khaki;
}

.deco{
    color: khaki;
}

.logo1 img:hover{
    opacity: 0.5;

}

/*                                                            */


header{
    background-image: url('../img/foto_banner.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 98%;
    min-height: 665px;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



nav ul li{
    display: inline-block;
}

.menu-superior{
    display: flex;
    width: 100%;
    background-color:#96d93f75;
    height: 100px;

}

.logo{
    width: 20%;
}

.loguito{
    width: 205px;
    position: relative;
    bottom: 20px;
}

.idiomas{
    width: 71%;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.idiomas nav ul{
    display: flex;
    gap: 25px;
}

.contenedor-slogan{
    width: 40%;
    display: flex;
    justify-content: end;
}

.Eslogan{

    display: flex;
    width: 83%;
    background-color: #ffffffd1;
    justify-content: center;
    border-radius: 12px;
}



.menu-inferior{
    background-color: #6E9E30;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-inferior nav ul{
    display: flex;
    gap: 55px;
    justify-content: center;
    align-items: center;
}

.arreglo{
    display: flex;
    flex-direction: column;gap: 50px;
    padding-top: 7%;
}

.titular{
    width: 100%;
    text-align: center;
}


.subtitular{
    width: 100%;
    text-align: center;

}



.mapa{
  width: 100%;
}

.puente{
    width: 100%;
}



.contenido0{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container1{
    display: flex;
    justify-content: center;
}

.contenido0v1{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto0{
    width: 55%;
    display: flex;
    align-items: center;
 
}

.foto{
    width: 40%;
}

.espoloncito{
    width: 100%;
}

.centrado{
    display: flex;
    align-items: center;
    width: 80%;
    background-image: url('../img/botanico.jpg');
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: center;
}

.centradov1{
    display: flex;
    justify-content: center;
    
}

.verde{
    background-color: #6e9e30b8;
    min-height: 250px;
    width: 65%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.texto1{
    color: white;
    width: 74%;

}

.boton{
    display: flex;
    width: 100%;
    justify-content: end;
    padding-right: 10px;
}

.boton1{
    padding-top: 14px;
}

.boton1 a:hover{
    color:khaki;
}

.container2{
    padding-top: 7%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.xeral2{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.texto2{
    width: 78%;
    
}

.subtitulo2 h3{
  border-left: solid 5px #6E9E30;
  padding-left: 10px;
}

.fondo-foto{
    background-image: url("../img/camilo-jose-cela.jpg");
    background-size: contain;
    background-attachment: fixed;
    background-position: 50% 45%;
     min-height: 700px;
     background-repeat: no-repeat;
}


.container-fotos{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 7%;
}

.arriba{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}


.abajo{
    display: flex;
    justify-content: center;
}

.fotos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;

}

.iglesia{
    width: 100%;
}

.cementerio{
    width: 99.2%;
} 

.fundacion{
    width: 100%;
}

.position{
    position: relative;
    width: 53%;
}

.overlay{
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    background-color: rgba(45, 198, 101, 0.7);
    overflow: hidden;
    width: 100%;
    height: 100px;
    opacity: 0;
    transition: height 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

.overlay:hover{
    color: khaki;
    text-align: center;
}

.position1{
    position: relative;
    width: 50%;
}

.overlay1{
    position: absolute;
    bottom: 4px;
    left: 1px;
    right: 2px;
    background-color: rgba(45, 198, 101, 0.7);
    overflow: hidden;
    width: 99.1%;
    opacity: 0;
    height: 100px;
    transition: height 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.overlay1:hover{
    color: khaki;
    text-align: center;
}

.position2{
    position: relative;
    width: 97%;
}

.overlay2{
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    background-color: rgba(45, 198, 101, 0.7);
    overflow: hidden;
    width: 100%;
    height: 100px;
    opacity: 0;
    transition: height 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.overlay2:hover{
    color: khaki;
    text-align: center;
}

.container3{
    display: flex;
    justify-content: center;
    padding-top: 12%;
    padding-bottom: 9%;
}

.fondo-verde{
    width: 80%;
    display: flex;
    background-color: #6e9e30c9;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
}

.parrafada{
    color: white;
    width: 43%;
}

.contenido4{
    display: flex;
    justify-content: center;
    padding-top: 12%;
}


.arreglo4{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: start;
    gap: 50px;
    
}

.subtitulo4 h3{
    border-left: solid 5px #6E9E30;
    padding-left: 10px;
  }

.contenido4v1{
    width: 80%;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: space-between;
}


.texto4{
  
      display: flex;
      align-items: center;

}

.foto4{
    width: 35%;
}

.exclavitud{
    width: 100%;
}

.contenido5{
    display: flex;
    justify-content: center;
    padding-top: 8%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 12%;
}

.contenido5v1{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.izquierdita{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 50px;
}

.subtitulo-5 h3{
    border-left: solid 5px #6E9E30;
    padding-left: 10px;
  }

  .foto5v1{
    display: flex;
    justify-content: end;
}

.castro{
    width: 80%;
}

.contenido5v2{
    width: 30%;
    display: flex;
}

.foto5{
    width: 100%;
    
}

.faramello{
    width: 100%;
}

.texto5 a{
    color: #6E9E30;
    text-decoration: none;
}

.texto5 a:hover{
    color:green;
}

.contenido6-1{
    display: flex;
    justify-content: center;
}

.cuadro-verde{
    background-color: #6e9e30c9;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px;
    border-radius: 12px;
}

.parrafo{
    color: white;
    width: 70%;
    text-align-last: center;
}

.fotos-verde{
    display: flex;
    justify-content: space-around;
}

.cruceiro{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cruceiro-1{
    width: 100%;
}

.igrexa{
     width: 50%;
     display: flex;
    align-items: center;
    justify-content: center;

    }

.igrexa-1{
        width: 100%;
}

.contenido7{
    display: flex;
    justify-content: center;
    padding-top: 12%;
}

.contenido7v1{
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.subtitulo-7 h3{
    border-left: solid 5px #6E9E30;
    padding-left: 10px;
  }

.texto7{
     text-align-last: center;
    width: 80%;
}

.catedral{
    width: 100%;
}

/*                pe de paxina                        */

footer{
    background-color: #6E9E30;
    margin-top: 50px;
    
}
.contenedor-pe{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.contenedor-pe img{
    max-width: 170px;
    object-fit: contain;
    margin-top: 50px;
}

.menu-footer  {
    
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    
}
.contenedor-pe1{
    display: flex;
    justify-content: space-evenly;
    
}
.contenedor-pe1 img{
    max-height: 120px;
    object-fit: contain;
}

.contenido6{
    display: flex;
    align-items: center;
}
.img{
    height: 130px;
}

.contenido6 img{
    max-width: 50px;
}
.contenido6A{
    display: flex;
    align-items: center;
}
.contenido6A img{
    max-width: 50px;
}
.contenido6A a img:nth-child(2){
    max-width: 46px;
}
.logo1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dodriño-1{
    padding-top: 15px;
}

/*                                                          */

/*                         medias                          */



@media screen and (max-width: 1400px){
    .menu-inferior{
        flex-wrap: wrap;
        height: unset;}

    header {
        height: 100%;
    }

    .menu-inferior {
        height: 100%;
        margin-top: unset;
    }

    .menu-inferior ul{
        flex-wrap: wrap;
        gap: 2em 7em;
        justify-content: center;
    }

   
    .fondofrase, .menu2 {
        height: unset;
    }
}


@media screen and (max-width: 1200px){
    .fondo-verde{  
        height: auto; 
        padding: 10px 0px 10px 0px;

    }
    .contenido5v1 {
        width: 90%;
        flex-direction: column;
        gap: 50px;

    }

    .izquierdita{
        width: auto;
    }

    .foto5v1{
        justify-content: center;
    }

    .castro{
        width: 80%;
        min-width: 400px;
    }

    .contenedor-slogan{
        width: auto;
        text-align: center;
        justify-content: center;
    }

    .contenido5v2{
        display: flex;
        justify-content: center;
        width: 90%;
    }

    .foto5{
        width: 60%;
        min-width: 400px;
    } 
}


@media screen and (max-width: 1024px){
    .contenido0v1{
        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 90%;
    }
    .texto0{
        width: 100%;
    }
    .foto{
        width: auto;
    }

    .espoloncito{
        min-width: 400px;
    }

    .centrado {
        min-height: 556px;
    }
    .verde{
        width: 90%;
    }

    .arriba{
        flex-direction: column;
        /* align-items: center; */
        gap: 20px;
    }
    .texto2{
        width: auto;
        text-align: justify;
    }

   .fondo-verde{
        width: 90%;
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 50px;
        padding: 20px 0px 20px 0px;
    
    }
    .parrafada{
        width: 80%;
        
    }

    .tumba{
        min-width: 390px;
    }

    .fundacion{
        min-width: 400px;
    }

    .iglesia{
        width: 75%;
        min-width: 400px;
    }

    .cementerio{
        width: 75%;
        min-width: 400px;
    }

    .overlay{
        width: 94%;
    }

    .contenido4v1{
        width: 90%;
        flex-direction: column-reverse;

    }

    .arreglo4{
        width: auto;
    }

    .foto4{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .exclavitud{
        width: 60%;
        min-width: 400px;
    }

    .texto4{
        width: auto;
    }


    .cuadro-verde{
        width: 90%;
    }

    .fotos-verde{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .cruceiro{
        width: 50%;
    }

    .cruceiro-1{
        min-width: 400px;
    }

    .igrexa{
        width: 60%;
    }

    .igrexa-1{
        min-width: 400px;
    }

    .contenido7v1{
        width: 90%;
    }

    .catedral{
        width: 90%;
    }
        
}


@media (max-width:870px) {




        /* medias pe de paxina */

        .contenedor-pe{
            flex-direction: column;
            align-items: center;
            gap: 0px;
        }
    
        .menu-footer{
            flex-wrap: wrap;
            gap: 20px;
        }
    
        .contenedor-pe1{
            flex-direction: column;
        }
    
    
        /*                                       */
  
 

    .overlay{
        width: 195%;
        height: 70px;
    }

    .overlay1{
        width: 207.1%;
        height: 70px;
    }

    .overlay2{
        width: 106.6%;
        height: 70px;
    }

    .texto5{
        width: auto;
    }
    .texto7{
        width: 80%;
    }
     .foto5v1 {
        position: unset;
        display: flex;
        justify-content: center;
     }
    
    .contenido7v1{
        width: auto;
    }


    .contenido-inferior{
        flex-direction: column;}

        .centrado {
            min-height: 540px;
            background-size: cover;
        } 

        .verde{
            width: 95%;
        }


}

 

  /*                                                         */