@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:wght@100;200;300&family=Teko:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

h1{ background-color: white;
    opacity: 53%;
    border-radius: 12px;
    font-size: 60px;
    font-family: 'Allura', cursive;
    color: #6e9e30b5;
}

h2{
    font-size: 55px;
    font-family: 'Allura', cursive;
    color: #6E9E30;

}
h3{
    font-size: 45px;
    font-family: 'Allura', cursive;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.8em;
    
}

a{  text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);


}

/*              hover de botons e menú                  */

ul li a:hover{
    color: khaki;

}

a:hover{
    color: khaki;
    
}

.menu-footer a:hover{
    color: khaki;

}

.boton a:hover{
    background-color: rgba(45,198,101,0.7);
}

.logo1 img:hover{
    opacity: 0.5;

}

.mp-padron:hover{
    opacity: 0.5;

}
.izq2 .dodro:hover{
    opacity: 0.5;

}

.maparois:hover{
    opacity: 0.5;

}
.deco{
    color: khaki;
}

/*                                                 */


header{
    background-image: url('../img/agua.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    min-height: 665px;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


nav ul li{
    display: inline-block;
}

.menu-superior{
    display: flex;
    width: 100%;
    background-color:#6e9e3069;
    height: 100px;

}

.logo{
    width: 20%;
}

.loguito{
    width: 205px;
    position: relative;
    bottom: 20px;
}

.idiomas{
    width: 71%;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.idiomas nav ul{
    display: flex;
    gap: 25px;
}

.Eslogan{
    display: flex;
    width: 35%;
    justify-content: end;
}

.menu-inferior{
    background-color: #6E9E30;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-inferior nav ul{
    display: flex;
    gap: 55px;
    justify-content: center;
    align-items: center;
}

.titular{
    width: 100%;
    text-align: center;
    font-size: 50px;
    padding-top: 80px;
}

.container0{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 55px;
}

.xeral{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.izq{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.subtitulo{
    border-left: solid 5px #6E9E30;
    padding-left: 30px;
}

.derecha{
    width: 35%;
}
.texto{
    text-align: justify;
}

.mp-padron{
     min-width: 400px;
     width: 60%;
}


.container1{
 display: flex;
 padding-top: 12%;
 justify-content: center;
    
}

.xeral1{
    width: 80%;
    display: flex;
    align-items: center;
}

.izq1{
    width: 25%;
    
}

.padron {
    width: 100%;
}


.derecha1{
    width: 75%;
}


.textopadron{
    width: 100%;
    text-align: justify;
    padding: 20px;
}

.caja1{
    background-color: #6e9e30d4;
    color: white;
    display: flex;
    border-radius: 12px;
    justify-content: center;
}

.container2{
    display: flex;
    justify-content: center;
    padding-top: 12%;
}

.xeral2{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.derecha2{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.subtitulo2{
    border-left: solid 5px #6E9E30;
    padding-left:15px;
}

.texto2{
    text-align: justify;
}

.izq2{
    width: 35%;
}

.mapadodro img{
    width: 100%;
}

.container3{
 display: flex;
 padding-top: 12%;
 justify-content: center;
       
}
   
.xeral3{
     width: 80%;
     display: flex;
     align-items: center;
}

.izq3{
    width: 75%;
}

.derecha3{
    width: 25%;
    
}

.caja3{
    background-color: #6e9e30d4;
    color: white;
    display: flex;
    border-radius: 12px;
    justify-content: center;
}

.textododro{
    width: 100%;
    text-align: justify;
    padding: 20px;

}



.dodro{
    width: 100%;
    padding-left: 10px;

}


.container4{
    display: flex;
    justify-content: center;
    padding-top: 12%;
  
}

.xeral4{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.izq4{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.subtitulo4{
    border-left: solid 5px #6E9E30;
    padding-left: 15px;
}

.derecha4{
    width: 35%;
}

.texto4{
    text-align: justify;
}

.maparois img{
    width: 100%;
}


.container5{
    display: flex;
    padding-top: 12%;
    justify-content: center;
       
   }
   
   .xeral5{
       width: 80%;
       display: flex;
       align-items: center;
   }
   
   .izq5{
       width: 25%;
       z-index: 1;
   }
   
   .rois {
       width: 100%;
   }
   
   
   .derecha5{
       width: 75%;
   }
   
   
   .textorois{
      
       text-align: justify;
       padding: 45px;
   }
   
   .caja5{
       background-color: #6e9e30d4;
       color: white;
       display: flex;
       border-radius: 12px;
       justify-content: center;
   }
   
.escudorois img{
  max-width: 350px;
}

.textorois{
    width: 100%;
  text-align: justify;
  padding: 20px;
}



/*                                                    */


/*           pe de paxina                  */



footer{
    background-color: #6E9E30;
    margin-top: 50px;
    margin-top: 100px;
}
.contenedor-pe{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.contenedor-pe img{
    max-width: 170px;
    object-fit: contain;
    margin-top: 50px;
}



.menu-footer  {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    
}
.contenedor-pe1{
    display: flex;
    justify-content: space-evenly;
    
}
.contenedor-pe1 img{
    max-height: 120px;
    object-fit: contain;
}

.contenido6{
    display: flex;
    align-items: center;
}
.img{
    height: 130px;
}

.contenido6 img{
    max-width: 50px;
}
.contenido6A{
    display: flex;
    align-items: center;
}
.contenido6A img{
    max-width: 50px;
}
.contenido6A a img:nth-child(2){
    max-width: 46px;
}
.logo1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dodriño-1{
    padding-top: 15px;
}

/*                                          */

/*        Medias                             */

@media(max-width:1200px){

    .Eslogan{
        justify-content: center;
        width: 100%;
        text-align: center;

    }

    .menu-inferior{
        height: auto;
    }

    .menu-inferior nav ul{
        flex-wrap: wrap;
    }
}

@media(max-width:1024px){
    
    .xeral{
      flex-direction: column;
      width: 100%;
      gap: 50px;
    }

    .izq{
        width: 90%;
    }

    .derecha{
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .padron{
        width: 50%;
        min-width: 400px;
    }

    .xeral1{
        flex-direction: column;
        width: auto;

    }

    .izq1{
       
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .derecha1{
        width: 90%;
        min-width: 400px;
    }

    .xeral2{
        flex-direction: column-reverse;
        gap: 50px;
        width: auto;
    }

    .derecha2{
        width: 90%;
        
    }

    .izq2{
        width: 90%;
        display: flex;
        justify-content: center; 
    }

    .dodro{
        min-width: 400px;
        width: 50%;
    }

    .xeral3{
        flex-direction: column-reverse;
        width: auto;
    }


    .derecha3{
        width: 90%;
        display: flex;
        justify-content: center;
    }
    
    .izq3{
        width: 90%;
    }

    .xeral4{
        flex-direction: column;
        width: 100%;
        gap: 50px;
    }

    .izq4{
        width: 90%;
    }

    .derecha4{
    width: 90%;
    display: flex;
    justify-content: center;
}

.xeral5{
    flex-direction: column;
    width: auto;

}

.izq5{
    width: 90%;
    display: flex;
    justify-content: center;
}

.derecha5{
    width: 90%;
}


.rois{
    width: 50%;
    min-width: 400px;
}

}

/*         medias pe de paxina                 */

@media(max-width:870px){

    .contenedor-pe{
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .menu-footer{
        flex-wrap: wrap;
        gap: 20px;
    }

    .contenedor-pe1{
        flex-direction: column;
    }
}
/*                                             */



