@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:wght@100;200;300&family=Teko:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}


/*                                              */

h1{
    font-size: 60px;
    font-family: 'Allura', cursive;
    color: #6e9e30b5;
}


h2{
    font-size: 55px;
    font-family: 'Allura', cursive;
    color: #6E9E30;
}


h3{
    font-size: 45px;
    font-family: 'Allura', cursive;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.8em;
    text-align: justify;


}

a{  text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}

/*                                                        */

/*              hover de botons e menú                  */

ul li a:hover{
    color: khaki;

}

a:hover{
    color: khaki;
    
}

.menu-footer a:hover{
    color: khaki;

}

.boton a:hover{
    background-color: rgba(45,198,101,0.7);
}

.logo1 img:hover{
    opacity: 0.5;

}

.deco{
    color: khaki;
}
/*                                                 */

header{
    background-image: url('../img/banner.png');
    background-attachment: scroll;
    background-size: cover;
    background-position: 50%;
    min-height: 539px;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


nav ul li{
    display: inline-block;
}

.menu-superior{
    display: flex;
    width: 100%;
    background-color: #6e9e3069;
    height: 100px;

}

.logo{
    width: 20%;
}

.loguito{
    width: 205px;
    position: relative;
    bottom: 20px;
}

.idiomas{
    width: 71%;
    display: flex;
    justify-content: end;
    align-items: center;

    
}

.idiomas nav ul{
    display: flex;
    gap: 25px;

}

.Container-Titulo{
    display: flex;
    flex-direction: column;
    background-color: #ffffff54;
    width: 50%;
    height: 300px;
    justify-content: space-evenly;
}

.Titulo{
    font-size: 40px;
    font-family: 'Allura', cursive;
    text-align: center;
    color: black;
}


.Container-info-titulo{
    display: flex;
    justify-content: end;
}


.info-titulo{
 
    width: 30%;
    color: black;

}

.menu-inferior{
    background-color: #6E9E30;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu-inferior nav ul{
    display: flex;
    gap: 55px;
    justify-content: center;
    align-items: center;
}

.container-xeral-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.contenido-orixe-comunidad{
    width: 80%;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 560px 500px;
}

.general-izq{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.titular-1{
    text-align: center;
}




.general-derch{
    display: flex;
    justify-content: end;
}

.arbol{
    width: 420px;
    border: solid 5px black;
    position: relative;
    top: 33%;
}

.general-izq-inf{
    background-color: #75a53787;
    display: flex;
    padding-left: 6%;

}

.texto-2{
    
    display: flex;
    align-items: center;
    width: 75%;
   }

   .texto-2 li{
    font-size: 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8em;
    text-align: justify;

 }



.general-derch-inf{
    display: flex;
    justify-content: end;
    align-items: end;
}

.montecito{
    max-height: 400px;
    border: solid 5px black;
    position: relative;
    top: -3%;
    right: 15%;
    width: 100%;
}


.container-xeral-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
    gap: 50px;
    
}

.contenido-xeral-2{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.titular-2{

    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

hr{
    width: 5px;
    height: 36px;
    background-color: #6E9E30;
    margin-right: 20px;
}

.texto-3{
      width: 80%;
   
}

.contenido-xeral-2v1{
    display: flex;
    
}

.descripcion{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}




.texto-5{
 
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    border-left: 5px solid #6E9E30;
    padding-left: 30px;
}



.foto{
    width: 50%;
    display: flex;
    justify-content: center;
}

.aldeanos{
    max-height: 445px;
    position: relative;
    bottom: 30px;
}

.contenido-xeral-2v2{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.texto-7{
 
    width: 100%;
}

.descripcion-2{
    display: flex;
    justify-content: space-between;
}

.descripcion-2v1{
    width: 45%;
}

.descripcion-2v2{
    width: 45%;

}

.texto-8{
    border-left: 5px solid #6E9E30;
    padding-left: 30px;
   
    width: 87%;
}

.descripcion-mapa{
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.descripcion-mapa-v1{
    display: flex;
}

.foto-mapa{
    width: 50%;
}

.mapa-galicia{
    width: 80%;
}

.texto-9{
    width: 50%;
    display: flex;
    align-items: center;
 
}



.imaxe-fondo-monte{
    width: 100%;
}

.montecito-sol{
    width: 100%;
}

.texto-11{

    width: 80%;
}

/*                    footer                     */

footer{
    background-color: #6E9E30;
    margin-top: 50px;
    
}
.contenedor-pe{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.contenedor-pe img{
    max-width: 170px;
    object-fit: contain;
    margin-top: 50px;
}



.menu-footer  {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    
}
.contenedor-pe1{
    display: flex;
    justify-content: space-evenly;
    
}
.contenedor-pe1 img{
    max-height: 120px;
    object-fit: contain;
}

.contenido6{
    display: flex;
    align-items: center;
}
.img{
    height: 130px;
}

.contenido6 img{
    max-width: 50px;
}
.contenido6A{
    display: flex;
    align-items: center;
}
.contenido6A img{
    max-width: 50px;
}
.contenido6A a img:nth-child(2){
    max-width: 46px;
}
.logo1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dodriño-1{
    padding-top: 15px;
}

/*                                               */

/*                 Medias                       */

@media (max-width:1200px){

    .Container-Titulo{
        width: auto;
        height: auto;
        padding: 10px;
    }

    .Container-info-titulo{
        justify-content: center;
        text-align: center;
        text-align-last: center;

    }


    .info-titulo{
        width: auto;
    }

    .menu-inferior{
        height: auto;
    }

    .menu-inferior nav ul{
        flex-wrap: wrap;
       
    }

    .contenido-orixe-comunidad{
       grid-template-columns: 1fr;
       grid-template-rows: auto;
       gap: 80px;
       justify-content: center;
    }

    .general-derch{
        display: flex;
        justify-content: center;
        height: auto;
        width: auto;

    }

    .general-derch-inf{
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
    }

  .general-izq-inf{
    padding-left: 0%;
    justify-content: center;
    height: auto;
    padding: 15px;

  }
  .texto-2{
    width: 90%;
  }

 .titular-1{
     font-size: 47px;
 }

.arbol{
     position: unset;
     right: 0%;
     top: 0%;
    }

 .montecito{
     position: unset;
     top: 0%;
     right: 0%;
     width: 100%;
     max-height: inherit;
     min-width: 400px;
    }

.contenido-xeral-2{
     width: auto;
     align-items: center;
    }

.contenido-xeral-2v1{
    flex-direction: column;
    align-items: center;
     gap: 50px;
    }

.descripcion{
     width: 80%;
    }

.descripcion-2{
     flex-direction: column;
    }

.descripcion-2v1, .descripcion-2v2{
    width: auto;

    }

.descripcion-mapa-v1{
     flex-direction: column;
    align-items: center;
    gap: 30px;
    }

.foto-mapa{
    display: flex;
    justify-content: center;
    min-width: 400px;
    width: auto;
    }

.texto-9{
        width: auto;
    }

.menu-footer{
    flex-wrap: wrap;
    gap: 20px;

    }

.contenedor-pe{
        flex-direction: column;
        align-items: center;
    }

 .contenedor-pe1{
        flex-direction: column;
    }
}