@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:wght@100;200;300&family=Teko:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

/*        estilos e size de tipografias/ imaxes       */

h1{
    font-size: 60px;
    font-family: 'Allura', cursive;
    color: #6e9e30b5;
}

h2{
    font-size: 55px;
    font-family: 'Allura', cursive;
    color: #6E9E30;

}
h3{
    font-size: 45px;
    font-family: 'Allura', cursive;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.8em;
    
}

a{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);


}

.txt h3{
    font-weight: 300;
    font-family: 'Allura', cursive;
}

.button a {
    background-color: #6E9E30;
    padding: 12px;
    border-radius: 12px;
    text-decoration: none;
}

.button a:hover{
    background-color: #3C7559;
}

.foto-castros{
    width: 100%;
    position: relative;
    top: 50px;
}

.foto-mapa22{
    width: 86%;
    position: relative;
    bottom: 79px;
}
.puesta-sol{
    width: 75%;
}
.mar{
    width: 100%;
}

/*                                                */

.imgheader{
    display: flex;
}
.logo{
    display: flex;
    justify-content: center;
    height: 100px;
}
.logo img{
    height: 200px;
    display: flex;
    align-content: center;
}

.fondofrase{
    background-color: white;
    opacity: 75%;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 700px;
}
.fondofrase p{
    margin-top: 20px;
}

.lg-terra{
    width: 205px;
    position: relative;
    bottom: 20px;
}

.idiomas a{
    text-decoration: none;
    
}

/* .boton a{
    text-decoration: none;
    background-color: #6E9E30;
    padding: 12px;
    border-radius: 30px;
    
} */

.foto-fondo{
    background-image: url("../img/head-natureza.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 45%;
     min-height: 900px;
}

.logo-terra{
    width: 20%;

}
.idiomas{
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
}


header{
    background-image: url('../img/aerea-torre-hercules.jpg');
        /* background-attachment: scroll; */
        background-size: cover;
        /* background-position: 50%; */
        min-height: 539px;
        background-repeat: no-repeat;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* align-items: center; */
	}
    
.imgheader{
    display: flex;
}
.logo{
    display: flex;
    justify-content: center;
    height: 100px;
}
.logo img{
    height: 200px;
    display: flex;
    align-content: center;
}
.fraseinicio{
    display: flex;
    justify-content: end;

}
.fondofrase{
    background-color: white;
    opacity: 69%;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 700px;
    border-radius: 12px;
    align-items: center;
}
.fondofrase h3{
    color: #6e9e30b5;
    margin-top: 20px;
    font-size: 60px;
    
}
.menu-principal{
    display: flex;
    align-items: center;
    background-color: #6E9E30;
    justify-content: center;
    height: 50px;
    
    

}
.menu-principal ul{
    display: flex;
    gap:60px;
}

.menu-principal a{
    text-decoration: none;
   
}

.menu-principal ul li {
    list-style:none;
    }
.menu2{
    background-color: #6e9e3069;
	display: flex;
    width: 100%;
    height: 100px;
}
.menu2 ul{
  display: flex;
    flex-direction: row;
    gap:25px;
}
.menu2 a{
    color: rgb(255, 255, 255);
    opacity: 100%;
}
.menu2 ul li {
    list-style:none;
    
}


.contenedor1{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.xeral{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.titulo {
    display: flex;
    justify-content: center;

}

.texto1{
    display: flex;
    text-align: justify;
}

.contenedor2{
    padding-top: 12%;
    display: flex;
    justify-content: center;
    padding-bottom: 8%;

}

.xeral2{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.contenido2izq{
    width: 40%;
    display: flex;
}

hr{
    width: 13px;
    height: 50%;
    background-color: #6E9E30;
}
.txt{
    display: flex;
    gap: 15px;
    text-align: justify;
    align-items: center;

}

.contenido2der{
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    align-items: center;
}

.foto-fondo{
     background-image: url('../img/castillo\ de\ san\ jorge.jpg');
     background-size: cover;
    background-attachment: fixed;
    background-position: 50% 45%;
     min-height: 900px;
    
}


.contenedor-4{
    padding-top: 12%;
    display: flex;
    justify-content: center;
}

.xeral-4{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.titulo-4{
    text-align: center;
}

.contenido-izq4{
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: justify;
    gap: 20px;
}

.contenido-dere4{
    display: flex;
    align-items: end;
    width: 35%;
} 

.contenedor5{
display: flex;
 justify-content: center;
 padding-top: 7%;
    
}

.xeral-5{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.titulo-5{
    border-left: solid 5px #6E9E30;
    padding-left: 10px;
}

.contenido-izq5{
    display: flex;
    flex-direction: column;
    width: 48%;
    text-align: justify;
    gap: 20px;

}

.contenido-derecha5{
    display: flex;
    width: 47%;
    align-items: start;
    flex-direction: column;
    align-items: center;
}


.titulo-6{

  text-align: center;
  
}


.contenedor6{
    display: flex;
    justify-content: center;
    padding-top: 12%;
}

.xeral-6{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.contenido6izq{
    display: flex;
}

.contido{
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 50px;
    align-items: center;
}

.contidov1{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.texto2{
 text-align: justify;
}

.texto3{
    width: 65%;
    text-align: justify;
}

.sol{
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
}




/*                                            */





/*           pe de paxina                  */



footer{
    background-color: #6E9E30;
    margin-top: 50px;
    margin-top: 100px;
}
.contenedor-pe{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.contenedor-pe img{
    max-width: 170px;
    object-fit: contain;
    margin-top: 50px;
}

.menu-footer a{
    text-decoration: none;
}

.menu-footer  {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    
}
.contenedor-pe1{
    display: flex;
    justify-content: space-evenly;
    
}
.contenedor-pe1 img{
    max-height: 120px;
    object-fit: contain;
}

.contenido6{
    display: flex;
    align-items: center;
}
.img{
    height: 130px;
}

.contenido6 img{
    max-width: 50px;
}
.contenido6A{
    display: flex;
    align-items: center;
}
.contenido6A img{
    max-width: 50px;
}
.contenido6A a img:nth-child(2){
    max-width: 46px;
}
.logo1{
    display: flex;
    flex-direction: column;
    align-items: center;
}






@media screen and (max-width: 1700px){
  
  }
  
  @media screen and (max-width: 1400px){
    .menu-principal{
        flex-wrap: wrap;
        height: unset;}

    header {
        height: 100%;
    }

    .menu-principal {
        height: 100%;
        margin-top: unset;
    }

    .menu-principal ul{
        flex-wrap: wrap;
        gap: 2em 7em;
        justify-content: center;
    }

    .menu2 ul {
        flex-direction: column;
    }

    .idiomas {
        justify-content: space-evenly;
    }

    .fondofrase, .menu2 {
        height: unset;
    }
    .menu-footer{
        flex-direction: column;
        align-items: center;
        gap: 1.6em;
    }

  }
  @media screen and (max-width: 1200px){

  
}
  @media screen and (max-width: 1024px){
    .xeral2{
        flex-direction: column;
        align-items: center;
    }
    .contenido2izq{
        width: auto;
    }
    .contenido2der{
        width: auto;
    }
    .xeral-4{
        flex-direction: column;
        align-items: center;
    }
    .contenido-izq4{
        width: auto;
    }
    .contenedor6{
        flex-direction: column;
        align-items: center;
    }
    .contenido6izq {
        flex-direction: column;
        align-items: center;
    }
    .contido{
        width: auto;
    }
    .texto3{
        width: auto;
    }
  }
  @media (max-width:800px) {
    
    .contenido-inferior{
        flex-direction: column;}

    .flor-1,.flor-2,.flor-3 {
        width: 70%;
        max-width: unset;}

    .contenedor-pe{
        flex-direction: column;
        align-items: center;
        gap: unset;}

    .contenedor-pe1{
        flex-direction: column;}
}

  @media screen and (max-width: 768px){
    .foto-castros {
        position: unset;
    }
    .xeral-5{
        flex-direction: column;
        align-items: center;
    }
    .foto-mapa22 {
        
        position: unset;
  }
    .contenido-izq5{
        width: auto;
    }
}
  @media screen and (max-width: 480px){
   
  }
  @media screen and (max-width: 412px){
  
  }